body   {
    font-family:'Open Sans' ;
    text-align: center;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}

.column{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
}


.calculator{
    width: 400px;
    height: 580px;
    background-color: whitesmoke;
    border-radius:6px ;
    border: 1px solid black;

}

.history{
    width: 300px;
    height: 580px;
    background-color: rgb(214, 202, 202);
    border: 1px ;
    border-radius: 6px;
              

}
table{
    margin: auto;
}

input{
    font-size:20px;
    height: 60px;
    width: 300px;
    border-radius:5px;
    margin-bottom: 10px;
    align-content: right;
}
button{
    font-size: 20px;
    background-color: whitesmoke;
    width: 50px;
    height: 50px;
    row-gap:10px;
    border-radius: 6px;
    border:0px;
    margin: 15px;
       
}

.equals{
    background-color: orange;
    color: white;
    width:80%; 
    border-radius: 50px;
}

.AC{
    background-color: orange;
    color: white;
    border-radius: 50%;
    
}
.DEL{
    background-color: tomato;
    color: white;
    border-radius: 50%;
}
/* .multiply{
    background-color: rgb(74, 180, 53);
    color: white;
    border-radius: 50%;

}

.add{
    background-color: rgb(96, 36, 238);
    color: white;
    border-radius: 50%;

}
.subtract{
    background-color: rgb(219, 48, 196);
    color: white;
    border-radius: 50%;

}
.divide{
    background-color:rgb(214, 190, 55);
    color: white;
    border-radius: 50%;

}
.percentage{
    background-color: rgb(81, 91, 235);
    color: white;
    border-radius: 50%;

} */


.equals:hover{
    background-color: orange;
    border-radius: 50px;
}



button:hover{
    background-color: rgba(224, 116, 116, 0.9);
    border-radius: 50px;
    

}

#tenHistories{
    height: 500px;
    list-style: none;
    text-align: left;
    overflow-y: scroll;
    overflow-x: hidden;


}

#tenHistories li{
    padding: 5px;
}